<div class="overlay">
  <h1 class="text-center">
    {{ title | titlecase }}
  </h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <app-quotes-form (add)="createQuote($event)"></app-quotes-form>
      </div>
      <div class="col-sm-9">
        <div class="cards">
          <div
            *ngFor="let quote of arrangeQuotes; let i = index"
            class="card"
            style="width: 24rem"
          >
            <div class="card-body">
              <h4 class="card-title">
                {{ quote.title }}
                <button (click)="displayInfo(i)" class="btn btn-info btn-sm">
                  Details
                </button>
              </h4>
              <p
                class="card-text"
                id="param"
                appHighlight
                *ngIf="highestUpvote() === quote.upvotes && quote.upvotes > 0"
              >
                {{ quote.quote }}
              </p>
              <p
                class="card-text"
                id="param"
                *ngIf="highestUpvote() !== quote.upvotes || quote.upvotes === 0"
              >
                {{ quote.quote }}
              </p>
              <app-quote-detail
                *ngIf="quote.showDetails"
                [quoteDetail]="quote"
                (isRead)="quoteDelete($event, i)"
              ></app-quote-detail>
              <span class="card-subtitle mb-2"
                >Posted by: <span id="name">{{ quote.name }}</span
                ><span id="date"
                  >on:
                  <span id="datecolor">{{
                    quote.datePosted | date: "short"
                  }}</span></span
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
