<h6 class="card-subtitle mb-2 text-muted">
  - {{ quoteDetail.author }}
  <span id="when"
    >Posted: {{ quoteDetail.datePosted | datePipe }} days ago.</span
  >
</h6>
<div class="container-fluid" id="buttons">
  <button class="btn btn-sm btn-success" (click)="upvote()">
    {{ quoteDetail.likes }} <i class="fa fa-thumbs-up" id="like"></i>
  </button>
  <button class="btn btn-sm btn-info" id="hate" (click)="downvote()">
    {{ quoteDetail.dislikes }} <i class="fa fa-thumbs-down" id="dislike"></i>
  </button>
  <button class="btn btn-sm btn-danger" id="del" (click)="deleteQuote(true)">
    <i class="fa fa-trash" id="delete"></i>
  </button>
</div>
